# ===============================
# Secrets
# ===============================
.env
.env.*

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

# ===============================
# Virtual environments
# ===============================
env/
senv/
venv/
.venv/

# ===============================
# Editor / IDE
# ===============================
.history/
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Copies / temp
# ===============================
*copy*
temp*
